contourpy==1.3.3
cycler==0.12.1
fonttools==4.62.1
fuzzywuzzy==0.18.0
kiwisolver==1.5.0
matplotlib==3.10.8
numpy==2.4.4
packaging==26.0
pdf2image==1.17.0
pillow==12.2.0
pyparsing==3.3.2
pypdf==6.9.2
pytesseract==0.3.13
python-dateutil==2.9.0.post0
six==1.17.0
tesseract==0.1.3
textdistance==4.6.3
